@import 'variables.scss';
@import 'typography.scss';
@import 'menu.scss';
@import 'social.scss';
@import 'mouse.scss';
@import 'media.scss';


body {
    padding: 0;
    margin: 0;
    background-color: $yellow;
    height: 100%;
    cursor: none;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
}


h1, h2 {
    position: relative;
    z-index: 9;
}


#app__wrapper { 
    position: relative;
    height: 100vh;
}

#app__content{
    position: absolute;
    display: flex;
    flex-grow:1;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#home__wrapper, #about__wrapper, #skills__wrapper, #contacts__wrapper {
    position: absolute;
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items:center;
}


#intro--text {
    text-align: center;
    margin-top: 5%;
    transform: translateY(-20%);
    opacity: 0;
}

#intro--about {
    text-align: center;
    margin-top: 5%;
    transform: translateY(-20%);
    opacity: 0;
}

#intro--hello {
    transform: translateY(-30%);
    margin-top: 5%;
    opacity: 0;
}

#intro--contacts {
    color: $blue;
    text-align: center;
    margin-top: 5%;
    width: 50vw;
    transform: translateY(-30%);
    opacity: 0;
}

.img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;;
    position: relative;
}

.img__portrait {
    opacity: 0;
    z-index: 3;
    transition: 0.15s ease-in-out;

    &:hover {
        transform: scale(0.9);
    }
}

.img__bg {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.img__bg2 {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: $yellow;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: 0.15s ease-in-out;
}

.--hover {
    background-color: $blue;
    margin-bottom: -10px;
    margin-right: -10px;
}

.img__animation {
    box-shadow: 10px 10px 0px -3px $blue; 
    margin-left: 10px;
    padding-bottom: -10px;
}

.title__wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100vw;
}

#highlight {
    position: absolute;
    width: 0px;
    background-color: $pink;
    height: 20px;
    opacity: 1;
    z-index: -1;

}

#skills__lists__wrapper {
    display: flex;
}

.skills__ul {
    text-align: center;
    padding-left: 0px;
    color: $blue;
    font-weight: 200;
    transform: translate(0px, -50px);
    opacity: 0;
}
